<!--
Tag Helpers: asp-for="example"
    -The name in the quotes needs to match a ViewModel
-->
<!-- Tells the view what model for this view page it should be getting and
     sending data to and from
-->
@model TheWorld.ViewModel.ContactViewModel
@{
    ViewBag.Title = "Contact Page";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Contact Me</h2>
        <form method="post">
            <span asp-validation-summary="ModelOnly"></span>
            @if (ViewBag.UserMessage != null)
            {
                <div>@ViewBag.UserMessage</div>
            }
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea cols="40" rows="4" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-muted"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-success" />
                <a asp-controller="App" asp-action="index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>