<!-- These are elements that are specific to the home page only -->
@{ 
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
<h2>The World</h2>
<p>This will be a fun website soon!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>