body {
    font-family: sans-serif;
    font-size: 14px;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=text], textarea {
    width: 150px;
}

#main {
    background-color: #c5c5c5
}

#footer {
    background-color: #383838;
    color: #ffffff;
}

/*Image that is within sidebar*/
.headshot {
    max-width: 50px;
}
 
.menu {
    font-size: 12px;
}

.menu li {
    list-style-type: none;
}